@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/*
Page base layout
*/
body {
	padding-bottom: 40px;
	background: #fff;
	font-family: 'Open Sans', Helvetica, Arial, Verdana, Sans-Sherrif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: 'Open Sans', Helvetica, Arial, Verdana, Sans-Sherrif;
}

h1, h2, h3 {
	margin-top: 10px;
}

h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
    padding-bottom: 10px;
}

a {
    text-shadow: none !important;
    color: #0d638f;
}

/*
Extra labels
*/
.label.label-white {
    border: 1px solid #5A5A5A;
    color: #5A5A5A;
    background-color: #fff;
}

.label.label-inverse {
    color: #fff;
    background-color: #000;
}

/*
Extra buttons
*/
.btn-djo {
	color: #FFF;
	background-color: rgba(24, 15, 117, 1);
	border-color: rgba(24, 15, 117, 0.5);
}
.btn-djo:hover, .btn-djo:focus, .btn-djo:active, .btn-djo.active, .open .dropdown-toggle.btn-djo {
	background-color: rgba(24, 15, 117, 0.8);
	color: #FFF;
}


/*
Navigation styling
*/
/*
.navbar {
	top: 15px;
	height: 75px;
	background-image: linear-gradient(180deg, rgba(24, 15, 117, 1), rgba(24, 15, 117, 0.9));
	margin-bottom: 10px;
}

.navbar-brand {
	background: url('../img/djo-logo-white.png') no-repeat center left;
  background-size: contain;
  min-width: 123px;
	max-width: 123px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 50px;
}

.navbar > .container {
	margin-top: 12px;
}

.navbar-nav > li > a {
	color: #FFF;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	background-color: transparent;
}

.navbar-collapse {
	box-shadow: none;
}

.navbar-djo-domainnav-title {
	color: #fff;
	font-size: 28px;
	position: absolute;
	top: 17px;
	margin-left: 12px;
	box-sizing: border-box;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background: transparent;
}

.navbar .label-white {
	background: #fff;
	color: rgba(24, 15, 117, 1);
	border: 0;
}

@media all and (min-width: 768px) {
	.navbar-nav>li>.dropdown-menu {
		margin-top: 14px;

	}

	.navbar-nav:not(.navbar-right) {
		margin-left: 30px;
	}

	.navbar-nav > li.active > a {
		border-bottom: 2px #FFF solid;
	}

	.navbar-nav > li > a {
		height: 48px;
	}

	.navbar-nav > li:not(.active) > a:hover, .navbar-nav > li:not(.active) > a:focus {
		opacity: 0.7;
	}

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0;
	}
}

@media all and (max-width: 767px) {
	.navbar-brand {
		margin-left: 15px;
	}

	.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
		opacity: 0.9;
	}

	.navbar-nav:not(.navbar-right) > li:nth-child(1) > a {
		background-color: rgba(24, 15, 117, 0.85) !important;
	}

	.navbar-nav:not(.navbar-right) > li:nth-child(2) > a {
		background-color: rgba(24, 15, 117, 0.8) !important;
	}

	.navbar-nav:not(.navbar-right) > li:nth-child(3) > a {
		background-color: rgba(24, 15, 117, 0.75) !important;
	}

	.navbar-nav > li > a {
		padding-top: 15px;
		height: 50px;
		padding-left: 30px;
		background-color: rgba(24, 15, 117, 0.7) !important;
	}

	.navbar-right {
		margin: -7.5px -15px;
		margin-bottom: 0;
	}

	.navbar-nav:not(.navbar-right) {
		margin-top: 12px;
	}

	.navbar-toggle {
		border-color: #FFF;
		outline-color: transparent;
	}

	.navbar-toggle:hover {
		opacity: 0.7;
	}

	.navbar-toggle > .icon-bar {
		border-color: #FFF;
		background-color: #FFF;
	}

	.navbar-nav .open .dropdown-menu {
		background: #fff;
	}
}
*/

/*
Page title styling
*/
.page-header {
	padding-bottom: 0px;
	border-bottom: none;
}

.page-header small {
	font-weight: 300;
}

.page-header h1 {
	font-weight: 400;
}

/*
misc.
*/
.editUser > li > a {
	padding: 3px 10px;
}

.modal {
	overflow-y: auto;
	outline: none;
}
.editUser > li > a:hover, .pointer {
	cursor: pointer;
}

@media(min-width: 768px) {
	body[data-page='login'] .page-top {
		margin-top: 80px;
	}

	body[data-page='oauth-login'] .page-top {
		margin-top: 100px;
	}
}

@media(max-width: 767px) {

	body[data-page='oauth-login'] .page-top {
		margin-top: 30px;
	}
}
