@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/*
Page base layout
*/
body {
	padding-bottom: 40px;
	background: #fff;
	font-family: 'Open Sans', Helvetica, Arial, Verdana, Sans-Sherrif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: 'Open Sans', Helvetica, Arial, Verdana, Sans-Sherrif;
}

h1, h2, h3 {
	margin-top: 10px;
}

h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
    padding-bottom: 10px;
}

a {
    text-shadow: none !important;
    color: #0d638f;
}

/*
Extra labels
*/
.label.label-white {
    border: 1px solid #5A5A5A;
    color: #5A5A5A;
    background-color: #fff;
}

.label.label-inverse {
    color: #fff;
    background-color: #000;
}

/*
Extra buttons
*/
.btn-djo {
	color: #FFF;
	background-color: rgba(24, 15, 117, 1);
	border-color: rgba(24, 15, 117, 0.5);
}
.btn-djo:hover, .btn-djo:focus, .btn-djo:active, .btn-djo.active, .open .dropdown-toggle.btn-djo {
	background-color: rgba(24, 15, 117, 0.8);
	color: #FFF;
}

/*
Page title styling
*/
.page-header {
	padding-bottom: 0px;
	border-bottom: none;
}

.page-header small {
	font-weight: 300;
}

.page-header h1 {
	font-weight: 300;
}

/*
misc.
*/
.editUser > li > a {
	padding: 3px 10px;
}

.modal {
	overflow-y: auto;
	outline: none;
}
.editUser > li > a:hover, .pointer {
	cursor: pointer;
}

@media(min-width: 768px) {
	body[data-page='login'] .page-top {
		margin-top: 60px;
	}

	body[data-page='oauth-login'] .page-top {
		margin-top: 100px;
	}
}

@media(max-width: 767px) {

	body[data-page='oauth-login'] .page-top {
		margin-top: 30px;
	}
}
